<div class="log-comp">
    <div class="log-tittle">
        Task-Login
    </div>

    <div class="log-in">
        <input type="text" placeholder="E-mail ..." class="inp">
        <input type="password" placeholder="Password ..." class="inp">
    </div>
    <div class="log-btn">
        <div class="btn btn-log" >
            <a routerLink="/home"><nav class="btn-txt">Login</nav></a>
        </div>
        <div class="btn btn-sign">
            <a routerLink="/sign-in"><nav class="btn-txt">Sign-in</nav></a>
        </div>
    </div>
</div>
