<div class="sign-comp">
    <div class="sign-tittle">
        Task Register
    </div>

    <div class="sign-in">
        <input type="text" placeholder="Firstname ..." class="inp">
        <input type="password" placeholder="Lastname ..." class="inp">
        <input type="text" placeholder="E-mail ..." class="inp">
        <input type="password" placeholder="Password ..." class="inp">
        <input type="password" placeholder="Confirm password ..." class="inp">
    </div>
    <div class="sign-btn">
        <div class="btn btn-sign" >
            <a routerLink="/home"><nav class="btn-txt">Confirm</nav></a>
        </div>
        <div class="btn btn-sign">
            <a routerLink="/login"><nav class="btn-txt">Cancel</nav></a>
        </div>
    </div>
</div>